:root {
    --complete: #38afff;
    --background: #28ffbb;
  }
.task{
    border: black 2px solid;
    border-radius: 5px;
    margin:10px;
}
.todo{
    display: flex;
    cursor: pointer;
    width: fit-content;
    padding-right: 40px;

}

.label{
    margin-left: 15px;
    font-weight: bold;
}
.checkbox{
    background-color: white;
    border: black 2px solid;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 15px;
}
.complete{
    border: black 2px solid;
    background-color: var(--complete);
}
.done-border{
    border: var(--complete) 2px solid;
}